{% extends 'AdminPanelBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i>
                    <a href="{{ path('admin_panel_homepage') }}">AdminPanel</a>
                </li>
                <li>
                    <a href="{{ path('admin_panel_brands') }}">Каталог</a>
                </li>
                <li>
                    <a href="{{ path('admin_catalog_brand_edit', { 'id': model.brand.id }) }}">{{ model.brand.name }}</a>
                </li>
                <li class="active">Редактирование модели</li>
            </ul>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="content">
        <div class="main-header">
            <h2>Редактировать модель</h2>
            <em>{{ model.name }}</em>
        </div>

        <div class="main-content">
            <h3>
                Название: <a href="#" id="name" data-type="text" class="editable editable-title" data-pk="{{ model.id }}" data-title="Введите название модели">{{ model.name }}</a>
            </h3>
            Страница модели на сайте: <a href="{{ path('pages_automobile', {
                'brand_alias': model.brand.alias,
                'model_alias': model.alias
            }) }}" target="_blank">http://autorinok.by{{ path('pages_automobile', {
                'brand_alias': model.brand.alias,
                'model_alias': model.alias
                }) }}</a>
            <div class="row">
                <div class="col-sm-8">
                    <div class="widget">
                        <div class="widget-header">
                            <h3><i class="fa fa-edit"></i> Описание страницы</h3>
                            <div class="widget-header-toolbar"  style="line-height: 35px;">
                                <i class="fa fa-save save-indicator"></i>
                            </div>
                            <div class="widget-header-toolbar" style="line-height: 35px;">
                                Заполнение: <span id="filling">{{ model.filling }}</span> %
                            </div>
                        </div>
                        <div class="widget-content no-padding">
                            <textarea class="form-control" id="editor" name="text" rows="15">
                                {{ model.text }}
                            </textarea>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget-header">
                            <h3><i class="fa fa-cog"></i> Настройки</h3>
                        </div>
                        <div class="widget-content no-padding table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="2">Основные</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Алиас:</td>
                                    <td><a href="#" id="alias" data-type="text" class="editable editable-alias" data-pk="{{ model.id }}" data-title="Введите алиас модели">{{ model.alias }}</a></td>
                                </tr>
                                <tr>
                                    <td>Синонимы:</td>
                                    <td><a href="#" id="synonyms" data-type="select2" data-pk="{{ model.id }}" data-title="Введите синонимы марки">{{ model.synonyms }}</a></td>
                                </tr>
                                <tr>
                                    <td>Логотип:</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="widget">
                        <div class="widget-header">
                            <h3><i class="fa fa-time"></i> Поколения</h3>
                            <div class="btn-group widget-header-toolbar">
                                <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="widget-content no-padding">
                            {{ include('AdminPanelBundle:Generations:generationsTable.html.twig', { 'items': model.generations }) }}
                        </div>
                    </div>

                    <div class="widget">
                        <div class="widget-header">
                            <h3><i class="fa fa-sitemap"></i> Субмодели</h3>
                            <div class="btn-group widget-header-toolbar">
                                <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="widget-content no-padding">
                            {{ include('AdminPanelBundle:Models:modelsTable.html.twig', { 'items': model.models, 'sub': true }) }}
                        </div>
                    </div>

                </div>
            </div>
            <!-- /main-content -->
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var admin_edit_brand_url = '{{ path('admin_edit_entity', {'entity_name': 'model'}) }}';
        var upload_image = '{{ path('upload_image') }}';
        var admin_edit_brand_auto_save_url = '{{ path('admin_edit_entity', {'entity_name': 'model'}) }}?pk={{ model.id }}&name=text';
    </script>
    <script src="{{ asset('bundles/app/js/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/bootstrap-editable/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/redactor.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/lang/ru.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/video/video.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/table/table.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/fullscreen/fullscreen.js') }}"></script>
    <script src="{{ asset('bundles/adminpanel/js/brand-edit.js') }}"></script>
    <script src="{{ asset('bundles/app/js/plugins/bootstrap-progressbar/bootstrap-progressbar.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".progress .progress-bar").progressbar({display_text:"fill"});
            $(".progress.no-percentage .progress-bar").progressbar({display_text:"fill",use_percentage:!1});
            $(".progress.custom-format .progress-bar").progressbar({
                display_text:"fill",
                use_percentage:!1,
                amount_format: function(e,a){
                    return e+" of "+a
                }
            });
            $(".progress.vertical .progress-bar").progressbar();
            $(".progress.vertical .progress-bar").progressbar({display_text:"fill"});
        });
    </script>
{% endblock %}